<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>TUNISIE</b>TELECOM
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body pt-2">
        <p class="login-box-msg">Connectez-vous pour commencer votre session</p>

        <form *ngIf="!isLoggedIn" [formGroup]="form">
          <div class="input-group mb-3">
            <input type="email" class="form-control" formControlName="Nom" placeholder="login">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="mot de passe">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- /.col -->
            <div class="col-8 text-end">
              <button (click)="onSubmit()" style="margin-left: 50%;" class="btn btn-outline-success mb-2">  Se Connecter</button>
            </div>
            <!-- /.col -->
          </div>
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>

        <!-- /.social-auth-links -->
        <br>
       
        <div class="mt-7 text-center">
  <p style="color: #4e73df;">Vous n’avez pas de compte ?<a  style="color: #4e73df;"href="register"> Inscrivez-vous maintenant </a></p>
 
</div>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>