
<form [formGroup]="paramLogiqueForm">

    <!-- Horizontal Form -->
    <div class="card card-info">

        <!-- /.card-header -->
        <!-- form start -->
        <div class="form-horizontal">
            <div class="card-body">

                <div class="form-group row">
                    <label for="Code" class="col-sm-4 col-form-label">Code</label>
                    <div class="col-sm-10">
                        <input type="number" formControlName="id" class="form-control" id="Code" placeholder="Code">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="x" class="col-sm-4 col-form-label">x</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="x" class="form-control" id="x" placeholder="x">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="y" class="col-sm-4 col-form-label">y</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="y" class="form-control" id="y" placeholder="y">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="hba" class="col-sm-4 col-form-label">hba</label>
                    <div class="col-sm-10">
                        <input type="number" formControlName="hba" class="form-control" id="hba" placeholder="hba">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="c" class="col-sm-4 col-form-label">c</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="c" class="form-control" id="c" placeholder="c">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="bande" class="col-sm-4 col-form-label">Bande</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="bande" class="form-control" id="bande" placeholder="bande">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="frequence" class="col-sm-4 col-form-label">frequence</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="frequence" class="form-control" id="frequence" placeholder="frequence">
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button class="btn btn-info" (click)="save()">Ajouter</button>
                <button type="reset" class="btn btn-default float-right">Annuler</button>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.form-horizontal -->
    </div>
    <!-- /.card -->

</form>