<form [formGroup]="paramArchiveForm">

    <!-- Horizontal Form -->
    <div class="card card-info">

        <!-- /.card-header -->
        <!-- form start -->
        <div class="form-horizontal">
            <div class="card-body">

                <div class="form-group row">
                    <label for="Code" class="col-sm-4 col-form-label">Code</label>
                    <div class="col-sm-10">
                        <input type="number" formControlName="id" class="form-control" id="Code" placeholder="Code">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ficheMiseService" class="col-sm-4 col-form-label">ficheMiseService</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="ficheMiseService" class="form-control" id="ficheMiseService"
                            placeholder="ficheMiseService">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="afd" class="col-sm-4 col-form-label">afd</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="afd" class="form-control" id="afd" placeholder="afd">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="afd" class="col-sm-4 col-form-label">ficheExp</label>
                    <div class="col-sm-10">
                        <input type="text" formControlName="ficheExp" class="form-control" id="ficheExp"
                            placeholder="ficheExp">
                    </div>
                </div>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button class="btn btn-info" (click)="save()">Ajouter</button>
                <button type="reset" class="btn btn-default float-right">Annuler</button>
            </div>
            <!-- /.card-footer -->
        </div>
        <!-- /.form-horizontal -->
    </div>
    <!-- /.card -->

</form>
