<div class="container-fluid-page">
   
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
  </div><iframe title="testBI" width="1000" height="600" style="border:4px solid #93aed9; border-radius: 30px;" src="https://app.powerbi.com/reportEmbed?reportId=abb3f208-295e-4d2a-a4f0-3a9c08c56e1d&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730&filterPaneEnabled=false" 
  frameborder="0" allowFullScreen="false"></iframe> </div>
</div>

